/* HEADER CONTAINER */

.nav {
  padding: 0px;
  margin: 0px;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* LOGO SECTION */

.logo {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  padding: 10px;
}

.logo img {
  padding: 0px;
  margin: 0px;
  min-width: 2rem;
  width: 2.5vw;
  min-height: 2.5rem;
  height: 3vw;
}

.logo p {
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  font-family: "Bodoni Moda", serif;
  font-size: clamp(14px, 1vw + 0.5rem, 1vw);
  color: white;
  font-weight: bold;
}

/* NAV LIST */

.menu {
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu a {
  all: unset;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: clamp(15px, 1.1vw, 1.1vw);
  height: fit-content;
  text-align: center;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid white;
}

.menu :last-child {
  border-right: none;
}

.menu a:hover,
.menu a.active {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 0.01px;
}

/* BURGER BUTTON */

.burgerBtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.burgerBtn img {
  width: 4.5vw;
  height: 6vw;
}

/*+++++++++++++++++ MEDIA QUERIES +++++++++++++++++*/

/* Tablet & below */
@media (max-width: 768px) {
  .nav {
    align-items: center;
  }

  .menu {
    display: none;
  }

  /* LOGO SECTION */

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    min-width: 0 !important;
    min-height: 0 !important;
    width: 6vw;
    height: 8vw;
  }

  .logo p {
    display: none;
  }

  /* BURGER BUTTON */

  .burgerBtn {
    display: flex;
    margin: 0px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    max-width: 3em;
  }

  .burgerBtn img {
    width: 5vw;
    height: 9vw;
  }
}
