.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: fit-content;
  padding: 1em;
  margin-bottom: 3em;
  background-color: #f8efe3;
  border-bottom: 1px solid rgba(25, 16, 4, 1);
}

.cardImg {
  width: 100%;
  height: 23em;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin-top: 1em;
}

.card button {
  margin-bottom: 2em;
}

.card button img {
  height: 100%;
}

.card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card div p {
  width: 80%;
  padding: 1em;
}

/*+++++++++++++++++ MEDIA QUERIES +++++++++++++++++*/

/* 2. Below Small Screen */
@media only screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: fit-content;
    padding: 0.5em;
    margin-bottom: 3em;
    background-color: #f8efe3;
    border-bottom: 1px solid rgba(25, 16, 4, 1);
    /* border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); */
  }

  .card div p {
    width: 100%;
    padding: 0em;
  }
}
