.article {
  padding: 0px;
  margin: 0px;
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.article img {
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0em 10em;
  align-items: center;
}

.details h3 {
  padding: 1em 0em;
}

.details p {
  margin: 0px;
  padding: 0px;
}

.load {
  height: 100vh;
}

.loading{
  margin-top: 1em;
}

.article button {
  margin-top: 3em;
  margin-bottom: 3em;
}

.article button img {
  height: 100%;
}

/*+++++++++++++++++ MEDIA QUERIES +++++++++++++++++*/

/* Below Laptop Screen */
@media (max-width: 992px) {
  .details {
    padding: 0em 3em;
  }
}

/* Below Small Screen */
@media only screen and (max-width: 768px) {
  .details {
    padding: 0em 7vw;
  }
}
