.formSection {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6em;
  padding: 1em;

  background-image: url("../assets/images/photos/formBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  height: fit-content;
  width: 100%;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  margin-top: 2em;
  padding: 0em 5em;
}

/*+++++++++++++++++ MEDIA QUERIES +++++++++++++++++*/

/* Below Laptop Screen */
@media (max-width: 992px) {
  .infos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding: 0em 1em;
  }
}

/* Below Small Screen */
@media only screen and (max-width: 768px) {
}
