.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36vw;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0px 0px 30px black;
}

.form h3 {
  margin-bottom: 1em;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.input input {
  background-color: #f8efe3;
  border: 1px solid rgba(25, 16, 4, 0.2);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
  width: 30vw;
  padding: 5px;
}

.input textarea {
  background-color: #f8efe3;
  border: 1px solid rgba(25, 16, 4, 0.2);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
  width: 30vw;
  min-height: 20vh;
  min-width: 30vw;
  max-width: 30vw;
}

.warning {
  position: absolute;
  bottom: 0;
  padding: 0px;
  margin: 0px;
  font-family: "GFS Didot", serif;
  color: #191004;
  font-size: 1em;
  text-align: justify;
}

.none {
  visibility: hidden;
  margin: 0px;
  padding: 0px;
}

.form button {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bodoni Moda", serif;
  color: white;
  font-size: 1em;
  font-style: italic;
}

/*+++++++++++++++++ MEDIA QUERIES +++++++++++++++++*/

/* 2. Below Laptop Screen */
@media (max-width: 992px) {
  .form {
    width: 60vw;
  }

  .input input {
    background-color: #f8efe3;
    border: 1px solid rgba(25, 16, 4, 0.2);
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    width: 40vw;
    padding: 5px;
  }

  .input textarea {
    width: 40vw;
    min-width: 40vw;
    max-width: 40vw;
  }

  .form button {
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 1.3em;
  }
}

/* 2. Below Small Screen */
@media only screen and (max-width: 768px) {
  .form {
    width: 90vw;
  }

  .input input {
    background-color: #f8efe3;
    border: 1px solid rgba(25, 16, 4, 0.2);
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    width: 75vw;
    padding: 5px;
  }

  .input textarea {
    width: 75vw;
    min-width: 75vw;
    max-width: 75vw;
  }

  .form button {
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 1.3em;
  }
}
