.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0em 0em;
  margin-bottom: 1em;
  padding: 2em 8em;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  background-color: #e5bf8f;
}

.photo {
  max-height: 78vh;
  background: white;
  padding: 10px;
  border: 1px solid rgba(25, 16, 4, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.gallery button {
  width: 2.3em;
  height: 10em;
}

.gallery button img {
  width: 100%;
}

/*+++++++++++++++++ MEDIA QUERIES +++++++++++++++++*/

/* 2. Below Laptop Screen */
@media (max-width: 992px) {
  .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    background-color: #e5bf8f;
  }

  .leftButton {
    order: 1;
  }

  .rightButton {
    order: 2;
  }

  .photo {
    order: 3;
    max-height: 95vh;
    width: 100vw;
    background: white;
    padding: 0;
    margin-bottom: 1.2em;
    border: 1px solid rgba(25, 16, 4, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .gallery button {
    height: 2.3em;
    width: 10em;
    margin: 1em;
  }

  .gallery button img {
    height: 100%;
  }
}

/* 2. Below Small Screen */
@media only screen and (max-width: 768px) {
}
