.dialog:not([open]) {
  display: none;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8efe3;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.dialog button {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bodoni Moda", serif;
  color: white;
  font-size: 1em;
  font-style: italic;
}
