/* Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=GFS+Didot&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

/* PRE-SETS FOR TITLES WITH THE 2 FONTS USED BY THE WEBSITE + TEXT*/

.title-bodoni {
  font-family: "Bodoni Moda", serif;
  color: white;
}

.title-playfair {
  font-family: "Playfair Display", serif;
  color: white;
}

h1 {
  padding: 0px;
  margin: 0px;
  font-family: "Playfair Display", serif;
  color: rgba(25, 16, 4, 1);
  font-size: 4em;
  font-weight: 900;
  font-style: italic;
}

h3 {
  padding: 0px;
  margin: 0px;
  font-family: "Playfair Display", serif;
  color: #191004;
  font-size: 2.5em;
  font-weight: 700;
  font-style: italic;
}

.body-text {
  font-family: "GFS Didot", serif;
  color: #191004;
  font-size: 1.3em;
  text-align: justify;
}

/* PRESETS FOR STRUCTURE */
.error {
  background-color: #f8efe3;
  min-height: 100vh;
}

.error h1 {
  text-align: center;
  padding: 0 1em;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.frame h1 {
  margin-top: 1em;
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-thickness: 1px;
}

button {
  margin-top: 3em;
  width: 10em;
  height: 2.3em;
  background-color: #191004;
  border: 2px solid #191004;
  border-radius: 5px;
  padding: 0.5em;
}

button:hover,
.sending {
  cursor: pointer;
  box-shadow: 0px 0px 1px #332008;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* GLASS EFFECT */

.glass {
  background: rgba(101, 61, 39, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.glass-bordered {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.brownGlass {
  background: rgba(25, 16, 4, 1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
