.footer {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.menu {
  max-width: 100%;
  max-height: 100%;
  width: 20rem;
  margin: 0px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.menu a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  all: unset;
}

.menu img {
  min-height: 20px;
  max-height: 1.5vw;
}

.link :hover {
  cursor: pointer;
}

/*+++++++++++++++++ MEDIA QUERIES +++++++++++++++++*/

/* 2. Tablet & below */
@media (max-width: 768px) {
  .footer {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
  }

  .menu {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }

  .link {
    all: unset;
  }

  .menu img {
    min-height: none;
    max-height: 4.5vw;
  }

  .link :hover {
    cursor: pointer;
  }
}
